.radio-wrapper input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 2px solid #dfe0e5;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
}

.radio-input {
  position: relative;
  appearance: none;
  width: 20px; /* Custom size */
  height: 20px; /* Custom size */
  border: 2px solid #dfe0e5; /* Default ring color */
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #44b77b;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:checked {
    border-color: #44b77b !important; /* Selected color */
    background-color: #fff;

    &::before {
      opacity: 1;
    }
  }

  &:hover {
    border-color: lighten(#dfe0e5, 10%);
  }

  &:active {
    border-color: darken(#44b77b, 10%);
  }
}
