.qz-button {
  background-color: #FF3B3F;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 800;

  &:hover{
    background-color: #fc5c5f;
  }

  &:disabled{
    background-color: #c5c5c5;
  }
}